<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <div class="main text-center">
        <form method="POST" action="/add" style="max-width: 480px;margin:auto;">
            <input type="text" name="bname" class="form-control mt-2" placeholder="Book Name">
            <input type="text" name="author" class="form-control mt-2" placeholder="Author">
            <input type="text" name="quantity" class="form-control mt-2" placeholder="Quantity">
            <input type="submit" value="Add" class="btn btn-lg btn-primary btn-block">
        </form>
    </div>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>