<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="book">
            <%= book.NAME %>
            <%= book.AUTHOR %>
            <%= book.STATUS %>
        <%if (book.STATUS === "AVAILABLE"){ %>
            <button onclick="">Request Book</button>
        <%} 
        else if (book.STATUS != "AVAILABLE" && book.USERID===user.USERID){%> //User ID has to be passed
            <button onclick="">Return</button>
        <% } 
        else {%>
            <button disabled>Book Unavailable</button>
        <% } %>
        </div>
    </main>
</body>
</html>