<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <div class="text-center font-weight-normal" style="max-width: 480px;margin:auto;">
        <a href="/list"><button class="btn btn-primary btn-block btn-lg mt-2">List</button></a>
        <a href="/add"><button class="btn btn-primary btn-block btn-lg mt-2">Add</button></a>
    </div>  
</body>
</html>