<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    Welcome to my Library Management System
    Login <a href="/login">here</a> or...
    Register <a href="/register">here</a>
</body>
</html>