<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <div class="form-container">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="3nt3r Us3rn4m3">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="login">
        </form>
        <span>Do not have an ID? Create one <a href="/register">here</a></span>
    </div>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>