<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <form action="register" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="eno" placeholder="Enrollment Number">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" value="register">
        </form>
        <span>Already have an ID? Login <a href="/register">here</a></span>
    </div>
</body>
</html>
